.game-list-root {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* Background gradient */
  color: #ffffff;
}

/* Heading styles */
.heading {
  margin-top: 150px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.main-heading{
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

/* Subheading styles */
.subheading {
  margin-top: 15px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Button container styles */
.button-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.game-text-box {
  width: 377px;
  height: 124px;
  padding: 50px;
  border-radius: 10px;
  border: 0.5px solid #ffffff;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  margin-bottom: 10px;
}

/* Button styles */
.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 0.5px solid #ffffff; /* Border */
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button hover effect */
.button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Hover effect */
  color: #ffffff;
}
